* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

nav > img {
    width: 43px;
    margin-right: 11px;
}
